@use'../custom' as *;

// GRADIENT MIXIN

.menu{
    background: linear-gradient(to right, rgba($primary,0.95), rgba($secondary,0.95));
}

// ABSOLUTE CENTRE
@mixin absolutecentre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}